<ion-header>
  <app-header
  title="Pizza Resto"
  (buttonClicked)="handleButtonClicked($event)"
  ></app-header>
</ion-header>
  
  <ion-split-pane contentId="main" id="main-menu" *ngIf="categories">
    <ion-menu contentId="main" #toggleMenu>
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> 

        <ion-list *ngFor="let cat of categories" (click)="selectedCategorie = cat; toggleMenu.close()">
          <ion-item button>
            <ion-label [color]="selectedCategorie.title === cat.title ? 'primary' : ''">
            <h2>{{ cat.title | titlecase }}</h2>
          </ion-label>
          </ion-item>
       </ion-list>

      </ion-content>
    </ion-menu>
  
    <div class="ion-page" id="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Dishes</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> 

        <ion-grid *ngFor="let cat of categories | filterByCategory : selectedCategorie">
          <ion-row>
            <ion-col
              class="ion-text-center ion-margin-vertical"
              size-lg="4"
              size="6"
              *ngFor="let recipe of cat.recipes"
              >
              <ion-avatar class="img-center">
                <img src="{{ recipe.imageUrl }}" alt="{{recipe.title}}" width="200px" /> <br/>
              </ion-avatar>
              <h3>{{ recipe.title }} </h3>
              {{recipe.price | currency}} <br /> 

              <ion-button 
                [routerLink]="'/recipe/'+recipe.uuid"
                fill="clear"
                >
                View details
              </ion-button> <br />

              <ion-button 
                shape="round"
                (click)="addToCart(recipe)"
                >
                Add to Cart
              </ion-button>
            </ion-col>

         </ion-row>
        </ion-grid>

        <ion-list *ngIf="!categories">
          <ion-list-header>
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-list-header>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>

        <hr />
        <ion-button 
          routerLink="/kitchen"
          fill="clear"
          >
          Go to Kitchen
        </ion-button> <br />
      </ion-content>

      <app-footer
        [isValid]="orderForm.valid"
        [value]="orderForm.value"
        (orderNow)="handleClick($event)"
      ></app-footer>
    </div>
  </ion-split-pane>
