/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #000000;
  --secondary-color: #00ff00;

  --spacer-lg: 48px;
}

ion-thumbnail {
  --size: 220px;
  --border-radius: 14px;
}

#main-menu ion-col h3{
  min-height: var(--spacer-lg);
}

.img-center{
  margin: 0 auto;
}

